<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout_page/_layout.html}"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body class="d-flex flex-column min-vh-100">
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-4">
            <ol class="breadcrumb mb-4 mt-4">
                <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
                <li class="breadcrumb-item active">Modele urządzeń</li>
            </ol>
            <!--ALERTY-->
            <div>
                <div th:if="${successMessage}" class="alert alert-success auto-dismiss" role="alert">
                    <span th:text="${successMessage}"></span>
                </div>
                <div th:if="${deleteMessage}" class="alert alert-danger auto-dismiss" role="alert">
                    <span th:text="${deleteMessage}"></span>
                </div>
            </div>
            <!--Brak danych do wyświetlenia-->
            <div th:if="${totalRecordsDeviceModel < 1}" class="alert alert-danger d-flex align-items-center"
                 role="alert">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <div>
                    W bazie danych nie występują żadne modele
                </div>
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <!--                Nagłówek tabeli-->
            <div th:if="${totalRecordsDeviceModel >= 1}" class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div><i class="fas fa-table me-1"></i>Model</div>
                    <div class="d-flex align-items-center">
                            <!--                        Przycisk dodawania urządzenia-->
                        <div th:replace="~{fragments/displayListFragments :: addOrEditButtonTemplate(@{/api/devices/deviceModelList/newOrEditDeviceModel}, 'Model')}"></div>
                        <div th:if="${totalRecordsDeviceModel > 10}" class="dropdown">
                            <div th:replace="~{fragments/displayListFragments :: pageSizeDropdownTemplate(${amountOnPage}, ${currentSizeDeviceModel}, '/api/devices/deviceModelList')}"></div>
                        </div>
                    </div>
                </div>
                <!--Tabela-->
                <div class="table-responsive text-center">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Lp.</th>
                            <th>Producent</th>
                            <th>Nazwa modelu</th>
                            <th>Opis</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="allDeviceModelList : ${allDeviceModelList}">
                            <td class="id_list align-middle" th:text="${allDeviceModelList.idDeviceModel}"></td>
                            <td th:text="${allDeviceModelList.manufacturer.manufacturerName}"></td>
                            <td th:text="${allDeviceModelList.deviceModelName}"></td>
                            <td th:text="${allDeviceModelList.deviceDescryption}"></td>
                            <td class="function_buttons">
                                <a th:href="@{/api/devices/deviceModelList/newOrEditDeviceModel(idDeviceModel=${allDeviceModelList.idDeviceModel})}" class="btn btn-outline-info"><i class="fas fa-sync"></i></a>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/api/devices/deleteDeviceModel/{idDeviceModel}(idDeviceModel=${allDeviceModelList.idDeviceModel})}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Przyciski nawigacyjne-->
                <div th:if="${totalRecordsDeviceModel > 10}" class="d-flex justify-content-between align-items-center mb-3">
                    <div th:insert="~{fragments/displayListFragments :: tablePaginationTemplate(${currentPageDeviceModel}, ${totalPagesDeviceModel}, 'deviceModelList', ${currentSizeDeviceModel})}" class="flex-grow-1"></div>
                    <div class="me-3">
                        <span class="text-muted">Łącznie rekordów: <span th:text="${totalRecordsDeviceModel}">0</span></span>
                    </div>
                </div>
                <div th:if="${totalRecordsDeviceModel <= 10}" class="d-flex justify-content-between align-items-center mb-3">
                    <div class="ms-auto me-3">
                        <span class="text-muted">Łącznie rekordów: <span th:text="${totalRecordsDeviceModel}">0</span></span>
                    </div>
                </div>
        </div>
        </div>
    </main>
</div>
</body>
</html>