<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout_page/_layout.html}">
<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-4">
            <ol class="breadcrumb mb-4 mt-4">
                <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
                <li class="breadcrumb-item active"><a href="api/devices/list">Urządzenia</a></li>
                <li class="breadcrumb-item active"
                    th:text="${newOrEditDevice.idDevice} != null ? 'Edytuj urządzenie' : 'Nowe urządzenie'">
                </li>
            </ol>
            <div class="alert alert-danger" role="alert" id="verificationAlert" style="display: none;">
                Proszę zweryfikować poprawność następnej daty legalizacji.
                Powiadomienie zniknie za <span id="countdown">10</span> sekund.
            </div>


            <form class="px-4" th:action="@{/api/devices/saveDevice}" th:object="${newOrEditDevice}" method="post">
                <input type="hidden" th:field="*{idDevice}"/>

                <div class="form-group row">
                    <div class="col-md-3 ">
                        <div class="form-group form-label-cent">
                            <label for="idDeviceModel" class="form-label">Model urządzenia</label>
                            <select class="form-select" id="idDeviceModel" th:field="*{deviceModel.idDeviceModel}" required>
                                <option value=""></option>
                                <option th:each="deviceModel : ${deviceModelList}" th:value="${deviceModel.idDeviceModel}"
                                        th:text="${deviceModel.deviceModelName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="deviceSerialNo" class="form-label ">Numer Seryjny</label>
                        <input type="text" class="form-control" id="deviceSerialNo" name="deviceSerialNo"
                               th:field="*{deviceSerialNo}" placeholder="Wprowadź numer seryjny" required>
                    </div>
                    <div class="col-md-3">
                        <label for="idStore" class="form-label">Lokalizacja</label>
                        <select class="form-select" id="idStore" th:field="*{store.idStore}" required>
                            <option value=""></option>
                            <option th:each="store : ${storeList}" th:value="${store.idStore}"
                                    th:text="${store.storeName}+' '+${store.storeNo}"></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="idWeightClass" class="form-label">Klasa ważenia</label>
                        <select class="form-select" id="idWeightClass" th:field="*{weightClass.idWeightClass}" required>
                            <option value=""></option>
                            <option th:each="weightClass: ${weightClassList}" th:value="${weightClass.idWeightClass}"
                                    th:text="${weightClass.weightClassName}+' '+${weightClass.weightClassDescryption}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-5">
                    <div class="col-md-4">
                        <label for="deviceDateLegalization" class="form-label ">Data legalizacji</label>
                        <input type="date" class="form-control" id="deviceDateLegalization" name="deviceDateLegalization"
                               th:field="*{deviceDateLegalization}" placeholder="deviceDateLegalization">
                    </div>
                    <div class="col-md-4">
                        <label for="deviceDateNextLegalization" class="form-label ">Data następnej legalizacji</label>
                        <input type="date" class="form-control" id="deviceDateNextLegalization" name="deviceDateNextLegalization"
                               th:field="*{deviceDateNextLegalization}" placeholder="deviceDateNextLegalization" required>
                    </div>

                    <div class="col-md-4">
                        <label for="deviceConformity" class="form-label ">Numer dopuszczenia</label>
                        <input type="text" class="form-control" id="deviceConformity" name="deviceConformity"
                               th:field="*{deviceConformity}" placeholder="DE-17-PC-PTB002" required>
                    </div>

                </div>

                <div class="form-group row mt-5">
                    <div class="col-md-3">
                        <label for="deviceRangeWeightMax" class="form-label ">Maksymalny zakres ważenia</label>
                        <input type="text" class="form-control" id="deviceRangeWeightMax" name="deviceRangeWeightMax"
                               th:field="*{deviceRangeWeightMax}" placeholder="6/15 kg" deviceRangeWeightMax>
                    </div>
                    <div class="col-md-3">
                        <label for="deviceRangeWeightMin" class="form-label ">Milimalny zakres ważenia</label>
                        <input type="text" class="form-control" id="deviceRangeWeightMin" name="deviceRangeWeightMin"
                               th:field="*{deviceRangeWeightMin}" placeholder="40 g" required>
                    </div>
                    <div class="col-md-2">
                        <label for="deviceValueLegalizationPlotE" class="form-label ">Wartość działki legalizacyjnej E</label>
                        <input type="text" class="form-control" id="deviceValueLegalizationPlotE" name="deviceValueLegalizationPlotE"
                               th:field="*{deviceValueLegalizationPlotE}" placeholder="2/5g" required>
                    </div>
                    <div class="col-md-2">
                        <label for="deviceValuePlotReadingD" class="form-label ">Działka odczytowa</label>
                        <input type="text" class="form-control" id="deviceValuePlotReadingD" name="deviceValuePlotReadingD"
                               th:field="*{deviceValuePlotReadingD}" placeholder="2/5g" required>
                    </div>
                    <div class="col-md-2">
                        <label for="deviceBorderRangeTare" class="form-label ">Największa tara ujemna</label>
                        <input type="text" class="form-control" id="deviceBorderRangeTare" name="deviceBorderRangeTare"
                               th:field="*{deviceBorderRangeTare}" placeholder="-6/15kg" required>
                    </div>

                </div>
                <div class="row justify-content-center mt-4">
                    <div class="form-outline w-50 mb-4">
                        <label class="form-label" for="deviceDescryption">Opis urządzenia</label>
                        <textarea class="form-control" id="deviceDescryption" rows="4"
                                  th:field="*{deviceDescryption}" placeholder="Opis urządzenia"></textarea>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a href="/api/devices/deviceList" class="btn btn-dark"><i class="fa-solid fa-arrow-left"></i> Powrót</a>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Zapisz</button>
                </div>
            </form>
        </div>
    </main>
    <script>
        $(document).ready(function () {
            $('#idStore').select2({
                placeholder: "Wybierz lokalizacje",
                allowClear: true,
                theme: 'bootstrap-5'
            });
        });
        $(document).ready(function () {
            $('#idDeviceModel').select2({
                placeholder: "Wybierz model urządzenia",
                allowClear: true,
                theme: 'bootstrap-5'
            });
        });
        $(document).ready(function (){
            $('#deviceDateLegalization').on('change', function (){
                var legalDate = $(this).val();
                if (legalDate){
                    var legalDateObj = new Date(legalDate);
                    legalDateObj.setFullYear(legalDateObj.getFullYear()+2);
                    var nextLegalDate = legalDateObj.toISOString().slice(0,10);
                    $('#deviceDateNextLegalization').val(nextLegalDate);
                    $('#verificationAlert').show();
                    var countdown = 10;
                    $('#countdown').text(countdown);
                    var interval = setInterval(function() {
                        countdown--;
                        $('#countdown').text(countdown);
                        if (countdown <= 0) {
                            clearInterval(interval);
                            $('#verificationAlert').hide();
                        }
                    }, 1000);
                } else {
                    $('#verificationAlert').hide();
                }
            });
        });
    </script>
</div>
</body>
</html>