<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout_page/_layout.html}"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div layout:fragment="content">
    <main>

        <div class="container-fluid px-4">
            <ol class="breadcrumb mb-4 mt-4">
                <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
                <li class="breadcrumb-item active">Modele urządzeń</li>
            </ol>
            <!--ALERTY-->
            <div>
                <div th:if="${successMessage}" class="alert alert-success auto-dismiss" role="alert">
                    <span th:text="${successMessage}"></span>
                </div>
                <div th:if="${deleteMessage}" class="alert alert-danger auto-dismiss" role="alert">
                    <span th:text="${deleteMessage}"></span>
                </div>
            </div>
            <!--Brak danych do wyświetlenia-->
            <div th:if="${totalRecordsDeviceModel < 1}" class="alert alert-danger d-flex align-items-center"
                 role="alert">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <div>
                    W bazie danych nie występują żadne modele
                </div>
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <!--                Nagłówek tabeli-->
            <div th:if="${totalRecordsDeviceModel >= 1}" class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div><i class="fas fa-table me-1"></i>Model</div>
                    <div class="d-flex align-items-center">
                        <a sec:authorize="hasRole('ADMIN') or hasRole('DISPATCHER')"  th:href="@{/api/devices/deviceModelList/newOrEditDeviceModel}" class="btn btn-outline-dark me-2" id="addDeviceModel"><i class="fa-solid fa-plus"></i> Model</a>
                        <div th:if="${totalRecordsDeviceModel >= 10}" class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-list"></i> <span
                                    th:text="${currentSizeDeviceModel}">Liczba rekordów</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" th:href="@{/api/devices/deviceModelList(pageSize=10, pageNo=0)}">10</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/api/devices/deviceModelList(pageSize=20, pageNo=0)}">20</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/api/devices/deviceModelList(pageSize=50, pageNo=0)}">50</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/api/devices/deviceModelList(pageSize=100, pageNo=0)}">100</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Tabela-->
                <div class="table-responsive text-center">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Lp.</th>
                            <th>Producent</th>
                            <th>Nazwa modelu</th>
                            <th>Opis</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="allDeviceModelList : ${allDeviceModelList}">
                            <td class="id_list align-middle" th:text="${allDeviceModelList.idDeviceModel}"></td>
                            <td th:text="${allDeviceModelList.manufacturer.manufacturerName}"></td>
                            <td th:text="${allDeviceModelList.deviceModelName}"></td>
                            <td th:text="${allDeviceModelList.deviceDescryption}"></td>
                            <td class="function_buttons">
                                <a th:href="@{/api/devices/deviceModelList/newOrEditDeviceModel(idDeviceModel=${allDeviceModelList.idDeviceModel})}" class="btn btn-outline-info"><i class="fas fa-sync"></i></a>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/api/devices/deleteDeviceModel/{idDeviceModel}(idDeviceModel=${allDeviceModelList.idDeviceModel})}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Przyciski nawigacyjne-->
                <div th:if="${totalRecordsDeviceModel > 10}"
                     class="d-flex justify-content-between align-items-center mb-3">
                    <nav aria-label="Navigation" class="flex-grow-1">
                        <ul class="pagination justify-content-center mt-1">
                            <li class="page-item" th:classappend="${currentPageDeviceModel == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{deviceModelList(page=0, size=${currentSize})}"
                                   aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:classappend="${currentPageDeviceModel == 0} ? 'disabled' : ''">
                                <a class="page-link"
                                   th:href="@{deviceModelList(pageNo=${currentPageDeviceModel - 1}, pageSize=${currentSizeDeviceModel})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPagesDeviceModel - 1)}"
                                th:classappend="${i == currentPageDeviceModel} ? 'active' : ''">
                                <a class="page-link"
                                   th:href="@{deviceModelList(pageNo=${i}, pageSize=${currentSizeDeviceModel})}"
                                   th:text="${i + 1}"></a>
                            </li>
                            <li class="page-item"
                                th:classappend="${currentPageDeviceModel + 1 >= totalPagesDeviceModel} ? 'disabled' : ''">
                                <a class="page-link"
                                   th:href="@{deviceModelList(pageNo=${currentPageDeviceModel + 1}, pageSize=${currentSizeDeviceModel})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item"
                                th:classappend="${currentPageDeviceModel + 1 >= totalPagesDeviceModel} ? 'disabled' : ''">
                                <a class="page-link"
                                   th:href="@{deviceModelList(pageNo=${totalPagesDeviceModel - 1}, pageSize=${currentSizeDeviceModel})}"
                                   aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="me-3">
                            <span class="text-muted">Łącznie rekordów: <span
                                    th:text="${totalRecordsDeviceModel}">0</span></span>
                    </div>
                </div>
                <div th:if="${totalRecordsDeviceModel <= 10}" class="d-flex justify-content-between align-items-center mb-3">
                    <div class="ms-auto me-3">
                            <span class="text-muted">Łącznie rekordów: <span th:text="${totalRecordsDeviceModel}">0</span></span>
                    </div>
                </div>
        </div>
        </div>
    </main>
</div>
</body>
</html>