<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout_page/_layout.html}">
<body>
<div layout:fragment="content">
    <main>

            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4 mt-4">
                    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
                    <li class="breadcrumb-item active">Lista adresów</li>
                </ol>
<!--                ALERTY-->
                <div>
                    <div th:if="${successMessage}" class="alert alert-success auto-dismiss" role="alert">
                        <span th:text="${successMessage}"></span>
                    </div>
                    <div th:if="${deleteMessage}" class="alert alert-danger auto-dismiss" role="alert">
                        <span th:text="${deleteMessage}"></span>
                    </div>
                </div>
<!--                Brak danych do wyświetlenia-->
                <div th:if="${totalRecordsAddress < 1}" class="alert alert-danger d-flex align-items-center"
                     role="alert">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <div>
                        Brak przypisanych adresów
                    </div>
                </div>
<!--                Nagłówek tabeli-->
                <div th:if="${totalRecordsAddress >= 1}" class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div><i class="fas fa-table me-1"></i>Model</div>
                        <div class="d-flex align-items-center">
                            <!--                        Przycisk dodawania urządzenia-->
                            <div th:replace="~{fragments/displayListFragments :: addOrEditButtonTemplate(@{/api/locations/addressList/newOrEditAddress}, 'Adres')}"></div>
                            <div th:if="${totalRecordsAddress > 10}" class="dropdown">
                                <div th:replace="~{fragments/displayListFragments :: pageSizeDropdownTemplate(${amountOnPage}, ${currentSizeAddress}, '/api/locations/addressList')}"></div>
                            </div>
                        </div>
                    </div>
<!--                Tabela-->
                    <div class="table-responsive text-center">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Lp.</th>
                                <th>Miasto</th>
                                <th>Nazwa ulitcy</th>
                                <th>Numer</th>
                                <th>Kod pocztowy</th>
                                <th>Opis</th>
                                <th>Przyciski</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="allAddressList : ${allAddressList}">
                                <td class="id_list align-middle" th:text="${allAddressList.idAddress}"></td>
                                <td th:text="${allAddressList.city.cityName}"></td>
                                <td th:text="${allAddressList.addressStreet}"></td>
                                <td th:text="${allAddressList.addressNo}"></td>
                                <td th:text="${allAddressList.cityZipCode}"></td>
                                <td th:text="${allAddressList.addressDescryption}"></td>
                                <td class="function_buttons">
                                    <a th:href="@{/api/locations/addressList/newOrEditAddress(idAddress=${allAddressList.idAddress})}" class="btn btn-outline-info"><i class="fas fa-sync"></i></a>
                                    <a th:href="@{/api/locations/deleteAddress/{idAddress}(idAddress=${allAddressList.idAddress})}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--Przyciski nawigacyjne-->
                    <div th:if="${totalRecordsAddress > 10}" class="d-flex justify-content-between align-items-center mb-3">
                        <div th:insert="~{fragments/displayListFragments :: tablePaginationTemplate(${currentPageAddress}, ${totalPagesAddress}, 'addressList', ${currentSizeAddress})}" class="flex-grow-1"></div>
                        <div class="me-3">
                            <span class="text-muted">Łącznie rekordów: <span th:text="${totalRecordsAddress}">0</span></span>
                        </div>
                    </div>
                    <div th:if="${totalRecordsAddress <= 10}" class="d-flex justify-content-between align-items-center mb-3">
                        <div class="ms-auto me-3">
                            <span class="text-muted">Łącznie rekordów: <span th:text="${totalRecordsAddress}">0</span></span>
                        </div>
                    </div>
                </div>
            </div>

    </main>
</div>
</body>
</html>