<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout_page/_layout.html}">
<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-4">
            <ol class="breadcrumb mb-4 mt-4">
                <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
                <li class="breadcrumb-item active"><a th:href="@{/api/locations/city}">Miasta</a></li>
                <li class="breadcrumb-item active"
                    th:text="${newCity.idCity} != null ? 'Edytuj Adres' : 'Nowy Adres'">Nowy Adres
                </li>
            </ol>
            <form class="px-4" th:action="@{/api/locations/saveCity}" th:object="${newCity}" method="post">
            <input type="hidden" th:field="*{idCity}"/>
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3 ">
                            <label for="cityName" class="form-label ">Nazwa miejscowości</label>
                            <input type="text" class="form-control" id="cityName" name="addressStreet"
                                   th:field="*{cityName}" placeholder="Podaje nazwę miejscowości" required>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Zapisz</button>
                    </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>